@model Category
<h1>Create Category</h1>
<form method="post" class="row">
	<div class="border p-3">
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="ms-2"></label>
			<input asp-for="Name" class="form-control border-0 mt-3"/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="DisplayOrder" class="ms-2"></label>
			<input asp-for="DisplayOrder" class="form-control border-0 mt-3"/>
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>
		<div class="row pt-2">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
			</div>
		</div>
	</div>
</form>
@section scripts{
	<partial name="_ValidationScriptsPartial" />
}
